<div class="palette-color box-shadow" ng-if="show">
    <div class="col-md-12 col-sm-12 col-xs-12"><color-picker-directive color-picker-config="color1"></color-picker-directive></div>
    <div class="col-md-12 col-sm-12 col-xs-12"><color-picker-directive color-picker-config="color2"></color-picker-directive></div>
    <div class="col-md-12 col-sm-12 col-xs-12"><color-picker-directive color-picker-config="color3"></color-picker-directive></div>
    <div class="col-md-12 col-sm-12 col-xs-12"><color-picker-directive color-picker-config="color4"></color-picker-directive></div>
    <div class="col-md-12 col-sm-12 col-xs-12"><color-picker-directive color-picker-config="color5"></color-picker-directive></div>
    <div class="col-md-12 col-sm-12 col-xs-12"><color-picker-directive color-picker-config="color6"></color-picker-directive></div>
    <div class="col-md-12 col-sm-12 col-xs-12"><color-picker-directive color-picker-config="color7"></color-picker-directive></div>
    <div class="col-md-12 col-sm-12 col-xs-12"><color-picker-directive color-picker-config="color8"></color-picker-directive></div>
    <div class="col-md-12 col-sm-12 col-xs-12"><color-picker-directive color-picker-config="color9"></color-picker-directive></div>
    <div class="col-md-12 col-sm-12 col-xs-12"><color-picker-directive color-picker-config="color10"></color-picker-directive></div>
    <div class="col-md-12 col-sm-12 col-xs-12 action-btn-box text-center">
        <button ng-click="reset()" class="seller-btn">
            <div class="btn-content">
                <div class="btn-title">
                    {{'reset' | translate}}
                </div>
            </div>
        </button>
    </div>

</div>