.busBack{
    background: url("./images/bus-c.png");
    background-repeat: no-repeat;
    background-size: 1045px;
    width: 1045px;
    height:320px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#holder{
    height: 215px;
    width: 490px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}
#place {
    position: relative;
    /* margin: 7px; */
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

}
#place a{
    font-size:0.6em;
}
#place li
{
    list-style: none outside none;
    position: absolute;
}
/*#place li:hover*/
/*{*/
    /*background-color:yellow;*/
/*}*/
#place .seat{
    /*background:url("images/available_seat_img.gif") no-repeat scroll 0 0 transparent;*/
    height:25px;
    width:25px;
    background-color: #ffffff;
    display:block;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
}
#place .selectedSeatMan
{
    /*background-image:url("images/booked_seat_img.gif");*/
    background-color: #022a5b;
    cursor: not-allowed;
}
#place .selectedSeatWoman
{
    /*background-image:url("images/booked_seat_img_woman.gif");*/
    background-color: #ff0489;
    cursor: not-allowed;
}
#place .selectingSeat
{
    /*background-image:url("images/selected_seat_img.gif");*/
    background-color: #00fb01;
    animation: selectedAnimate 1s Ease;
}



@keyframes selectedAnimate {
    0% {
        height:25px;
        width:25px;
    }
    30% {
        height:26px;
        width:26px;
    }
    100% {
        height:25px;
        width:25px;
    }
}
#place .row-3, #place .row-4{
    margin-top:10px;
}
#seatDescription li{
    verticle-align:middle;
    list-style: none outside none;
    padding-left:35px;
    height:35px;
    float:left;
}


.noneDisplay{
    display: none;
}

.seatInfo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}