{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [

    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "async-to-promises"
  ]

//  ,"env": {
//    "development" : {
//      "compact": false
//    }
//  }

}
//npm install --save-dev babel-plugin-external-helpers
//npm install --save-dev babel-plugin-async-to-promises
//npm install --save-dev babel-plugin-transform-object-rest-spread